.Show
  .Show__title
    実績確認
  = form_with url: search_results_path, local: true, method: :get, class: "Show__form" do |f|
    = f.label "ユーザーID"
    = f.number_field :user_id, min: 1, max: 30

    = f.label "年"
    = f.number_field :year, min: 2020, max: 2050

    = f.label "月"
    = f.number_field :month, min: 01, max: 12

    = f.submit "検索", class: "Button--login"